<!DOCTYPE html>
<html>
<head>
    <title>Groupie Trackers</title>
    <link rel="stylesheet" type="text/css" href="/static/global.css">
</head>
<body>
    <header class="main-header">
        <h1>Groupie Trackers</h1>
        <h2>For more information about each band click on their card!</h2>
    </header>
    <main class="main-content">
        <div class="card-container" id="artists-container">
          {{range .}}
          <div class="card" onclick="window.location.href='{{.Name}}'">
                    <div>
                          <img class="card-img" src="{{.Image}}" alt="{{.Name}}">
                          <h2 class="card-title">{{.Name}}</h2>
                          <p class="card-info"><strong>Year Started: </strong>{{.CreationDate}}</p>
                          <p class="card-info"><strong>First Album:</strong> {{.FirstAlbum}}</p>
                          <p class="card-info"><strong>Members:</strong> {{range $i, $member := .Members}}{{if $i}}, {{end}}{{.}}{{end}}</p>

                            
                    </div>
          </div>
          {{end}}
        </div>
        <!-- Button that leads to a dynamic website -->
        <!-- <button class="fetch-button" onclick="fetchData('artists')">Fetch More Data</button> -->
        <!-- I think its okay without a button on the main page because we have a dynamic card which
             makes an API call for the selected band so  ¯\_(ツ)_/¯-->
    </main>
    <!-- <script src="js.js"></script> -->
    
</body>
</html>
