body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF5F0;
    color: #262322;
}

.main-header {
    background-color: #262322;
    color: white;
    text-align: center;
    padding: 1rem;
}

.main-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-nohover {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 400px; /* Increased the width for a horizontal layout */
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.card {
    cursor: pointer!important;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 400px; /* Increased the width for a horizontal layout */
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s ease;
}


.card:hover {
    cursor: pointer!important;
    transform: translateY(-10px);
}

.card-img {
    width: 150px!important;
    height: 150px!important;
}

.card-title {
    font-size: 1.2rem;
    margin: 1rem 0;
    padding-left: 1rem;
}

.card-info {
    font-size: 1rem;
    color: #555;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.fetch-button {
    padding: 10px 20px;
    background-color: #5a83ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fetch-button:hover {
    background-color: #7D84B2;
}

/* mobile responsiveness */
@media (max-width: 768px) {
    .card-nohover,
    .card {
        width: 100%; 
        margin: 0.5rem; /* space between cards on mobile*/
    }
}